@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
#noticesHome,
#aboutCompany,
#benefitsHome,
#homeWhatsapp,
#customerAdvantages,
#applicationProducts{
	margin: 30px 0;
}

.banner-others {
	margin: 100px 0 0;
}
@media (min-width: 992px) {
	#noticesHome,
#aboutCompany,
#benefitsHome{
	margin: 90px 0;
}
}
.banner-others { 
	height: 400px;
}

.banner-others img {
	height: 100%;
 object-fit: cover;
}

.whatsapp {
	position: fixed;
	bottom: 40px;
	height: 60px;
	width: 60px;
	right: 0;
	background: #009016;
	color: #fff;
	box-shadow: 1px 1px 4px #484848;
	text-decoration: none;

}
.whatsapp span{
	color: #fff;
	font-size: 36px;
}