.application-produts .title{
	padding: 0 35px 10px;
}
.application-produts .separator {
	height: 4px;
	width: 90px;
	background: #009016;
	display: block;
}
.applicationProducts-wrapper{
	width: 90%;
	gap: 15px;
	flex-direction: column;
	margin-top: 15px;
}
.applicationProducts-wrapper:nth-child(even) {
	flex-direction: column-reverse;
}
.imageProduct img{
	width: 100%;
	object-fit: cover;
	max-height: 300px;
}

@media(min-width: 768px){
	.applicationProducts-wrapper,
	.applicationProducts-wrapper:nth-child(even){
		flex-direction: row;
		margin: 10px 0;
	}
	.applicationProducts-wrapper{
		width: 80%;
	}
}