.application-solution .separator {
	height: 4px;
	width: 90px;
	background: #009016;
	display: block;
}
.application-solution-items{
	gap: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.application-solution-items .item{
	box-shadow: 1px 1px 10px #dfdfdf;
	background: #fafafa;
	border-radius: 10px;
	max-width: 290px;
	display: none;

}
.application-solution-items .description{
	padding: 20px;
}
.application-solution-items .image{
	padding: 15px 15px 0;
}
.application-solution-items .image img{
	border-radius: 10px;
}
.application-solution-show-more{
	background: #009016;
 color: #fff;
 font-weight: 600;
	display: block;
	margin: 30px auto 0 auto;
}
@media(min-width: 768px){
	.application-solution-items {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 55px;
}
.application-solution-items .item{
	width: 25%;
}
}
