.application-solution .title{
	padding: 0 35px;
}
.application-solution .separator {
	height: 4px;
	width: 90px;
	background: #009016;
	display: block;
}
.application-solution-items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 25px 0;
}

.application-solution-items .description{
	padding: 10px 0;
	min-height: 150px;
}

.application-solution-items .description h3,
.application-solution-items .description p{
	color: #777;
}
.application-solution-items .image{
	padding: 15px 0 0;
}
@media(min-width: 768px){
	.application-solution-items {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 55px;
}
.application-solution-items .description{
	min-height: 185px;
}
}
