.divisor-contact-whatsapp { 
 background: #2F7557;
 min-height: 216px;
}
.divisor-contact-whatsapp h1{
	color: #fff;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
}
.divisor-contact-whatsapp a{
 padding: 8px 25px;
 color: #fff;
 text-decoration: none;
 letter-spacing: 1px;
	font-family: 'Titillium Web', sans-serif;
 display: inline-block;
	margin-top: 10px;
	border: 1px solid #fff;
}
@media(min-width: 768px){
	.divisor-contact-whatsapp {
		height: 300px;
	}
	.divisor-contact-whatsapp h1 {
		font-size: 40px;
		max-width: 700px;
	}
	.divisor-contact-whatsapp a{
		font-size: 20px;
	}
}