.products-services { 
 background-image: url(../../assets/servicos-produtos.jpg);
 background-size: cover;
 background-attachment: fixed;
 margin: 50px 0;
 height: 620px;
}
.products-services-information{
 margin: 45px 0;
}
.products-services-information .title{
 font-size: 30px;
}
.products-services-information .separador{
 height: 2px;
 width: 165px;
 background-color: #fff;
 display: block;
 margin: 10px;
}
.products-services-card{
 border-radius: 30px;
 width: 300px !important
}
.products-services-card .card-title{
 font-weight: 700;
}
.products-services-card img{
 height: 160px;
 width: 100%;
 object-fit: contain;
 padding: 20px;
}
.products-services-card a{
 background: #009016;
 padding: 8px 25px;
 border-radius: 5px;
 color: #fff;
 text-decoration: none;
 font-weight: 700;
 letter-spacing: 1px;
 display: inline-block;
 border-color: #009016;
}

.products-services-card a:hover{
 background: #009016;
	color: #fff;
}
/* .carousel-products-services-mobile .carousel-control-prev,
.carousel-products-services-mobile .carousel-control-next{
 display: none;
} */

.carousel-products-services .carousel-control-prev{
 left: -10px;
}
.carousel-products-services .carousel-control-prev{
 right: -10px;
}
.products-services-dots{
 bottom: -70px;
}

.products-services-dots .dots {
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.carousel-item-section{
	gap: 50px;
}
.carousel-products-services-desktop{
	display: none;
}
.carousel-products-services-mobile{
	display: block;
}
@media(min-width:768px) {
	.carousel-products-services-desktop{
		display: block;
	}
	.carousel-products-services-mobile{
		display: none;
	}
}
