.product-service-wrapper{
 gap: 30px;
 flex-direction: column;
 padding: 0 30px 30px;
}
.product-service-card{
 min-width: 300px;
 border: 1px solid #fff;
 border-radius: 5px;
 padding: 0 10px 10px 10px;
}
.product-service-card h3{
 color: #fff;
 text-align: center;
}
.product-service-card p{
 color: #fff;
 text-align: center;
}
.effect-icon{
 height: 55px;
    width: 70px;
    background: #b7b7b754;
    margin: 0 auto 15px;
    border-radius: 0 0 10px 10px;
}
.effect-icon i{
 color: #a9ca19;
 font-size: 30px;
}

@media(min-width:768px) {
    .product-service-card {
        min-height: 200px;
    }
    .product-service-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
       }
}