.benefits-home .benefits-home-image{
	display: none;
}
.benefits-home-information h3{
	font-weight: 700;
	text-align: justify;
	padding: 0 16px 0 0;
}
.benefits-home-information h3 span{
	color:#A9CA19;
}
.benefits-home-information .description p{
	text-align: justify;
	margin: 20px 0;
}

.benefits-home-information-mobile{
	gap: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.benefits-home-information-mobile .wrapper-image{
	width: 49%;
	position: relative;
}

.benefits-home-information-mobile .wrapper-image span{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 178px;
	width: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 1px 1px 1px #2f2f2f;
}
.benefits-home-information-card{
	display: none;
}
.benefits-home-information-card .card-title{
	font-weight: 700;
}
.benefits-home-information-card .card-text{
	color: #666666;
	text-align: justify;
}
.benefits-home-information-card .card{
	box-shadow: 1px 2px 7px #dbdbdb;
 max-width: 540px;
 border: none;
	border-radius: 15px;
}
.benefits-home-information-card .card img{
	border-radius: 15px 15px 0 0;
}
@media(min-width: 768px){
	.benefits-home-information-mobile{
			display: none !important;
	}
	.benefits-home-information-card{
		display: block;
	}
	.benefits-home {
		display: flex;
	}
	.benefits-home-image, .benefits-home-information{
		width: 50%;
	}
	.benefits-home .benefits-home-image{
		display: flex;
	}
	.benefits-home .benefits-home-image img{
		object-fit: contain;
	}
	.benefits-home-information h3{
		padding: 0;
		font-size: 42px;
		text-align: inherit;
	}
	.benefits-home-information-card .card{
		max-width: 100% !important;
	}
	.benefits-home-information-card .card img {
		border-radius: 10px;
		height: 115px;
		object-fit: cover;
		margin: 14px;
		max-width: 160px;
	}
	.benefits-home-information-card .card-body{
		padding-left: 0;
	}
}

@media(min-width: 1400px){
	.benefits-home-information-card .card img {
		max-width: 190px;
	}
}