.behaviors-information-item{
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.behaviors-information-item h3,
.behaviors-information-item p{
 font-family: 'Titillium Web', sans-serif;
}
.icon-behaviors{
 width: 100px;
 height: 100px;
 background: #009016;
 display: flex;
 align-items: center;
 justify-content: center;
 transform: rotate(-45deg);
 margin: 20px 0 30px;
 border-radius: 10px;
}
.icon-behaviors i{
 transform: rotate(45deg);
 font-size: 70px;
 color: #fff;
}
.cointainer-behaviors .title{
 text-align: center;
 margin-bottom: 30px;
 font-family: 'Titillium Web', sans-serif;
}
.cointainer-behaviors .title span{
	color:#A9CA19;
 font-family: 'Titillium Web', sans-serif;
}

@media(min-width: 768px){
.behaviors-information{
  display: flex;
  gap: 100px;
  margin: 60px 0;
 }
 .behaviors-information-item{
  max-width: 375px;
 }
}